.boostify-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;

	&>li {
		margin: 0;
		display: flex;
		align-items: center;
		position: relative;

		.menu-item-main-info {
			display: flex;
			align-items: center;
		}

		.menu-item-icon {
			padding: 0 10px 0 0;
		}

		.menu-item-icon-svg {
			display: flex;
			align-items: center;
		}

		&>a {
			text-transform: uppercase;
			font-weight: 600;
			padding: 0 20px;
			display: flex;
			align-items: center;
		}
	}

	a {
		line-height: 50px;
		display: inline-block;
	}
	.sub-mega-menu,
	.sub-menu {
		list-style: none;
		visibility: hidden;
		opacity: 0;
		position: absolute;
		top: 100%;
		left: 0;
		transform: translateY(-15px);
		z-index: 9999;
		-webkit-transition: all 0.3s ease-in-out 0s, opacity 0.3s;
		transition: all 0.3s ease-in-out 0s, opacity 0.3s;
		min-width: 180px;
		padding: 0;
		margin: 0;

		&> a {
			padding: 15px 20px;
			line-height: 1.6;
		}

		.boostify-menu-child {
			left: 100%;
		}
	}

	.sub-menu-default {
		background-color: #fff;
		box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.1);
	}

	.boostify-menu-child {
		position: absolute;
		top: 100%;
		left: 0;
		visibility: hidden;

		.sub-mega-menu,
		.sub-menu {
			position: relative;
		}
	}

	.menu-item-has-children {

		&>a {
			&:after {
				content: '\f3d0';
				font-family: "Ionicons";
				padding-left: 5px;
			}
		}

		&:hover {

			&>.boostify-menu-child {
				visibility: visible;
			}
			&>.boostify-menu-child>.sub-menu,
			&>.sub-mega-menu,
			&>.sub-menu {
				visibility: visible;
				opacity: 1;
				z-index: 9999999;
				transform: translateY(0%);
				transition-delay: 0s, 0s, 0.3s;
			}
		}

		.menu-item-has-children {

			a {
				display: flex;
				justify-content: space-between;
			}
			.sub-menu {
				left: 0;
				top: 0;
			}

			.boostify-menu-child {
				top: 0;
			}
		}
	}
}

.boostify-menu-toggle {
	display: none;
}


.boostify-menu-sidebar {
	position: fixed;
	left: 0;
	width: 300px;
	transform: translateX(-100%);
	transition: transform 0.3s ease-out;
	top: 0;
	bottom: 0;
	z-index: 999999;
	background-color: #fff;

	.boostify-dropdown-menu {
		list-style: none;

		ul {
			list-style: none;
		}

		a {
			display: block;
			line-height: 50px;
			border-bottom: 1px solid #eee;
		}

		.sub-menu {
			display: none;
		}

		li.menu-item {
			margin: 0;
		}
	}

	.menu-item-has-children {
		position: relative;
		.arrow {
			position: absolute;
			right: 0;
			top: 0;
			display: flex;
			width: 30px;
			justify-content: flex-end;
			align-items: center;


			&:after {
				content: '\f3d0';
				font-family: "Ionicons";
			}
		}

		a {
			position: relative;
			&:after {
				display: none;
			}
		}
	}
}


.boostify-overlay {
	display: none;

	.boostify--close-menu-side-bar {
		position: fixed;
		top: 0px;
		right: 20px;
		font-size: 32px;
		color: #fff;
		z-index: 999999;
	}
}



// Menu Sidebar

.boostify-menu-sidebar {

	&.show-logo-yes {
		.boostify-menu-dropdown {
			max-height: calc( 100vh - 20px - 60px );
		}

		&.show-form-yes .boostify-menu-dropdown {
			max-height: calc( 100vh - 20px - 130px );
		}
	}

	&.show-form-yes {
		.boostify-menu-dropdown {
			max-height: calc( 100vh - 20px - 70px );
		}
	}

	.menu-item-has-children {
		&>a .arrow:after {
			content: '\f3d0';
			font-family: "Ionicons";
			transition: all 0.3s;
		}

		&>a .arrow.up:after {
			content: '\f3d1';
			transition: all 0.3s;
		}

		a {
			display: flex;
			justify-content: space-between;
		}
	}

	.boostify-dropdown-menu {
		margin: 0;
		padding: 20px ;
	}

	.boostify-menu-dropdown {
		height: 100%;
		overflow-y: scroll;
		width: 100%;

	/* width */
		&::-webkit-scrollbar {
		  width: 5px;
		}


		/* Handle */
		&::-webkit-scrollbar-thumb {
		  background: #1f3d70;
		  border-radius: 50px;
		}

		/* Handle on hover */
		&::-webkit-scrollbar-thumb:hover {
		  background: #fc1550;
		}
	}

	.boostify-menu-sidebar--wrapper {
		padding: 20px 0px;
		height: 100vh;
	}

	.logo-sidebar {
		padding: 0 20px;
	}

	input[type="search"]::-webkit-search-decoration,
	input[type="search"]::-webkit-search-cancel-button,
	input[type="search"]::-webkit-search-results-button,
	input[type="search"]::-webkit-search-results-decoration {
		-webkit-appearance:none;
	}


}

.boostify--search-sidebar-wrapper {
	padding: 30px 20px 0;
	.search-form {
		display: flex;
		position: relative;
	}

	.search-field {
		height: 35px;
		width: 100%;
		border-radius: 5px;
	}

	.btn-boostify-search-form {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 35px;
		border: none;
		border-radius: 5px;
		background-color: transparent;
		font-size: 24px;
		padding: 0;
	}

	::placeholder {
		font-size: 14px;
	}
}


@media ( max-width: 991px ) {
	.boostify-menu-toggle {
		display: block;
		font-size: 48px;
	}

	.boostify-overlay {
		background-color: rgba( 0, 0, 0, 0.6);
		position: fixed;
		z-index: 999998;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		transition: all 0.3s ease-out;

		&.show {
			display: block;
			transition: all 0.3s ease-out;
		}
	}

	.boostify-menu-sidebar {

		&.show {

			transform: translateX(0);
			transition: transform 0.3s ease-out;

		}
	}

	.boostify-main-navigation {
		display: none;
	}
}


.boostify--hover-background {
	.boostify-menu {
		&>li:hover {
			&>a {
				color: #aa3166;
			}
		}
	}
}

.boostify--hover-overline,
.boostify--hover-underline {
	.boostify-menu {

		li a:before {
			position: absolute;
			display: block;
			content: '';
			height: 3px;
			width: 0;
			transition: width 0.3s linear;
		}

		&>li:hover {
			&>a{
				position: relative;
				&:before {
					width: 50px;
					background-color: #000;
				}
			}
		}

		li .sub-menu >li {
			a {
				position: relative;

				&:after {
					top: auto;
					bottom: 12px;
				}
			}
			&:hover > a {
				&:after {
					width: 50px;
				}
			}
		}
	}
}

.boostify--hover-underline {
	li a:before {
		bottom: 0;
	}
}
.boostify--hover-overline {
	.boostify-menu {

		li a:before {
			top: 0;
		}

		&>li:hover {
			&>a{
				position: relative;
				&:before {
					width: 80px;
					background-color: #000;
				}
			}
		}
	}
}

// For mega menu has icon
.boostify-icon-vertical {
	.menu-item {
		align-items: flex-end;
	}

	.menu-item-has-icon {

		.menu-item-main-info {
			flex-direction: column;
		}
	}

	.menu-item-has-children a:after {
		display: none;
	}
}

// Mega Menu Vertical.
.boostify-mega-menu-vertical--widget {


	.boostify-mega-menu-vetical {
		display: flex;
		flex-direction: column;
		box-sizing: content-box;

		& > li {
			position: inherit;
		}

		.sub-menu {
			top: -49px;
			left: 100%;
			min-width: 270px;
			.boostify-menu-child {
				left: 100%;
			}
		}
		.sub-mega-menu {
			top: 0;
			left: 270px;
			min-height: 300px;
			min-width: 270px;
		}

		.menu-item-has-children {
			&>a {
				&:after {
					content: '\f10a';
					font-family: "Ionicons";
					position: absolute;
					right: 30px;
				}
			}
		}

		.menu-item-has-mega {
			&>a {
				position: relative;
				
				&:after {
					content: '\f10a';
					font-family: "Ionicons";
					position: absolute;
					right: 30px;
				}
			}
		}

		.boostify-menu-child {
			position: absolute;
			top: 0;
			left: 0;
			visibility: hidden;
		}
	}

	.boostify-main-navigation {
		display: none;

		&.show {
			@media( min-width: 780px ) {
				display: block;
				z-index: 99999;
				position: absolute;
				ul {
					> li a {
						z-index: 99999;
						position: relative;
					}
				}
			}
		}
	}

	.boostify-menu-toggle-vertical {
		font-size: 14px;
		border: 1px solid transparent;
		background-color: unset;

		.fa {
			margin-left: 25px;
		}

		@media( max-width: 768px ) {
			display: none;
		}
	}
}

.boostify-mega-menu-vertical--widget {
	width: 100%;
	position: relative;
}

.elementor-align-left {
	.boostify-mega-menu-vetical {
		align-items: flex-start;
	}
}

.elementor-align-center {
	.boostify-mega-menu-vetical {
		align-items: center;
	}
}

.elementor-align-right {
	.boostify-mega-menu-vetical {
		align-items: flex-end;
	}
}

.elementor-align-justify {
	.boostify-menu-toggle-vertical {
		width: 100%;
	}
}
