.boostify-site-footer {
	clear: both;
}

#ht-hf-primary .sub-menu {
	margin: 0;
	padding: 0;
}
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}
